
.navbar {
   background-color:#FFFFFF;
   min-height: 70px;
   margin: 0px;
   width: 100%;
   padding: 0px;
   padding-left: 5px;
   border-style: none;  
}
.title-image{
	max-height: 60px;
	width: auto;
	margin-top: 5px;
	margin-left: 0px;
}

.title{
	margin-right: 0px;
	padding-right: 0px;
}
.navbar-header {
	margin-right: 0px;
	padding-right: 0px;
}

.title-text{
	font-family: "SF Pro Display", Monaco, monospace;
	font-size: 2.5em;
	vertical-align: middle;
	padding-left: 10px;
	font-style: italic;
}
.title-text>a,
.title-text,a:link,
.title-text,a:visited,
.title-text,a:hover,
.title-text,a:active {
	text-decoration: none;
	color: red;
}
.title-script{
	font-family: "SF Pro Display", Monaco, monospace;
	font-style: italic;
	font-size: 1.25em;
	vertical-align: bottom;
	padding-left:0px;
	font-style: italic;
}

.navbar-collapse{
	background-color:#000000;
	height: 50px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 4px 10px;
	box-shadow: 0px 2px 4px -1px;
}
.nav-link{
	background-color:#000000;
	margin-top: 0px;
	padding-bottom: 0px;
	border-radius: 1px;
}
.nav{
	max-height: 40px;
	margin: 0px;
	padding: 0px;
	background-color: #000000;
}

.active>a{
	background-color: #797774;
}
.active {
	background-color:#797774;
	font-style: italic;
}
.pill-style{
	border-radius: 5px;
	margin-right: 5px;
}



.nav-link>a,
.nav-link>a:link,
.nav-link>a:visited{
	color: white;
	text-shadow: 2px 1px 3px black;
}
.nav-link>a:hover,
.nav-link>a:focus {
    text-decoration: none;
    background-color: #797774;
    color: WHITE;
}

.title img {
   display:inline;
}

