<div class="navbar navbar-default">
    <a href="/">
              <img src="src/main/resources/db/migration/punchandpilogo.jpg" class="title-image">
            </a>
            
    <div class="navbar-header">
        <div class="title navbar-brand">


            <!-->original code, testing image above>
            <img src="src/app/header/notebook-icon.png" width=35 height=35/><span class="title-text">YNOT</span><span class="title-script">Apparel</span><!-->

            
                 </div>
   </div>
 </div>
   <div class="navbar-collapse" role="navigation">
        <ul class="nav nav-pills nav-default">
          <!-- Notice: For Home to active, it must evalute
              TRUE for ngclass-active==="/" or "home" etc>
          </!-->
          <li class="pill-style nav-link" [ngClass]="{'active': currentRoute === ''}"><a (click)="goToRoute('items')">Home</a></li>

           <li class="pill-style nav-link" [ngClass]="{'active': currentRoute === 'items'}">
            <a (click)="goToRoute('projects')">Projects</a></li>

            <li class="pill-style nav-link"[ngClass]="{'active': currentRoute === 'AboutUs'}">
            <a (click)="goToRoute('AboutUs')">Buy Pi</a></li>

           <li class="pill-style nav-link"[ngClass]="{'active': currentRoute === 'ContactUs'}">
            <a (click)="goToRoute('ContactUs')">Contact Us</a></li>
       </ul>
   </div>

