<div class="container">
<div class="panel panel-default">
   <div class="panel-heading">
       Pi-Hole:  Network Ad Blocker
       <div class="block-right">${{item.price}}</div>
    </div>
   <div class="panel-body">
   		<img alt={{item.title}} src = {{item.productImg}} title={{item.title}}>
   </div>
   <div class="img-color">[ {{item.color}} ]</div>
</div>
</div>