<h1>Contact Us</h1>

<address><span class="contact-title">
	<strong>YNOT Apparel, Inc</strong><br></span>
	<div class="contact-details">
	123 Paper St.<br>
	New Orleans, LA. 70118<br>
	1-800-TRY-YNOT<br>
	<a href="mailto:#">Michael@YNOTapparel.com</a>
</div>
</address>