<h3>
    Projects
    
</h3>
<item-card *ngFor="let item of items | itemSort:'asc'" 
  [item]="item">
</item-card>

<div *ngIf="error" class="alert alert-danger">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  {{error}}
</div>
